<p id="notice"><%= notice %></p>

<h1>Listing Beers</h1>

<div class="beer-container">
  <% @beers.each do |beer| %>
    <div class="beer-item">
      <h4><%= beer.name %></h4>
      <%= inline_svg 'beer.svg' %>
      <p><%= beer.description %></p>
      <%= link_to 'Show', beer %>
      <%= link_to 'Edit', edit_beer_path(beer) %>
      <%= link_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>


<%= link_to 'New Beer', new_beer_path %>
